body {
  background-color: #ffffff;
}

/*  chrome全局定义scrollbar效果
============================================================================= */
::-webkit-scrollbar {width: 6px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #eee;margin: -2px;}
::-webkit-scrollbar-thumb{background: #cdcdcd;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #909090}
::-webkit-scrollbar-thumb:horizontal:hover{background: #909090}


.electronux_hidden {
  display: none;
}


/*  Keyframes
============================================================================= */
/* 从左到右显示动画 */
@keyframes leftRightShow {
  0% {
    transform: translateX(-5rem);
    opacity: .5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 从左到右显示动画 */
@keyframes rightLeftShow {
  0% {
    transform: translateX(5rem);
    opacity: .5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*  animation class
============================================================================= */
.left-right-show-animation {
  animation: leftRightShow;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
}

.right-left-show-animation {
  animation: rightLeftShow;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
}


/*  container
============================================================================= */
.container-router {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.container-router > .container-router-left.toggle-hidden {
  transform: translateX(-100%);
}

.container-router > .container-router-right.toggle-hidden {
  left: 0;
}

.shadow-normal {
  box-shadow: 0 0 7px black;
}

/* LEFT */

.container-router-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 17rem;
  height: 100%;
  padding: 1rem;
  /* border-top-right-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
  z-index: 50;
  transition: .2s;
}

.router-left-mask {
  position: absolute;
  top:  0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: .1;
}

.router-left-background {
  background-image: url("../../resources/public/gohome.jpg"); /* The image used */
  background-color: #f6f6f6; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* cover size */
}

.router-left-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  color: white;
  text-align: center;
  background-color: rgba(1,1,1, 0.5);
  z-index: 50;
}

.router-left-menu > .router-left-toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  height: 2rem;
  width: 3rem;
  color: white;
  z-index: 50;
}

.router-left-menu > .router-left-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  height: 2rem;
  width: 3rem;
  color: white;
}

.setting-page-wrapper {
  min-height: 5rem;
}

.setting-page-action {
  display: flex;
  justify-content: flex-end;
}

/* >>> force cover semantic */
body > .ui.inverted.page.modals.dimmer.transition.visible.active > .ui.mini.modal.transition.visible.active > .actions {
  padding: .5rem !important;
}

.setting-page-wrapper .ui.tiny.input {
  width: 100%;
}

.router-left-menu > span:hover  {
  color: blue;
  cursor: pointer;
}

.router-left-menu > .toggle-hidden {
  /* background-color: rgba(1,1,1, 0.5); */
  right: -3rem;
}

/* >>> force cover semantic */
.container-router-left > .ui.pointing.vertical.menu {
  background-color:rgba(255,255,255,0.75);
}

.text-white-shadow {
  font-size: 1.1rem;
  text-shadow: -1px 1px 1px grey;
}

/* RIGHT */

.container-router-right {
  position: absolute;
  left: 17rem;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 40;
  transition: .2s;
}

.router-right-wrapper {
  position: absolute;
  top: 0rem;
  left: 1rem;
  right: 0rem;
  bottom: 0rem;
  padding: .5rem;
  overflow-y: auto;
}

/* ScrollIndicator */
.router-scroll-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.router-scroll-indicator > .indicator-dot {
  display: flex;
  width: .9rem;
  height: .9rem;
  margin: 0 1.2rem;
  border-radius: 50%;
}

.router-scroll-indicator > .dot-active {
  background-color: grey;
}

.router-scroll-indicator > .dot-inactive {
  background-color: white;
}

/*  Ahthor Pane
============================================================================= */
.author-pane-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 50%;
}

.author-pane-image {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  padding: 3px;
  border: solid .2rem white;
  border-radius: 50%;
  background-color: #ec90ae;
}

.author-pane-image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-pane-text {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0;
  color: black;
  text-shadow: 0 0 3px white;
}
