.clean-wrapper {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 2rem;
}

.clean-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

.clean-action {
  text-align: center;
  margin: 2rem 1rem;
}

.clean-action > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: .5rem;
  font-size: 2rem;
  color: #1f7dec;
  border: solid 1px #dde2e6;
  border-radius: 50%;
  transition: .2s;
}

.clean-action > span:hover {
  cursor: pointer;
  transform: scale(1.1) translateX(-50%);
}

/*  CleanItem
============================================================================= */

.clean-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  height: auto;
  margin: .5rem 1rem;
  border: dashed 1px transparent;
}

.clean-item-wrapper:hover {
  border: dashed 1px #d7dadd;
  transition: all .1s;
}

.clean-item-image {
  display: inline-block;
  position: relative;
  padding: 5px;
  width: 6rem;
  height: 6rem;
}
.clean-item-image > img {
  width: 100%;
  height: 100%;
}

.clean-item-label {
  display: inline-block;
  margin: .3rem 0;
  height: 1.5rem;
  width: 100%;
  background-color: #f7f7f7;
  overflow: hidden;
  text-align: center;
  word-break: break-all;
  word-wrap: break-word;
}

.clean-item-label:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.1);
  transition: .1s;
}

.clean-item-switch {
  padding: 5px 0;
}


/*  CleanDetailItem
============================================================================= */
.clean-detail-wrapper {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 2rem;
}

.clean-detail-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.clean-detail-action {
  text-align: center;
  margin: 2rem 1rem;
}

.clean-detail-action > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: .5rem;
  font-size: 2rem;
  color: #1f7dec;
  border: solid 1px #dde2e6;
  border-radius: 50%;
  transition: .2s;
}

.clean-detail-action > span:hover {
  cursor: pointer;
  transform: scale(1.1) translateX(-50%);
}

/*  DetailItem
============================================================================= */
.detail-item-wrapper {
  border: solid 1px grey;
  margin: .5rem 0;
}

.detail-item-wrapper > .detail-item-header {

}

.detail-item-wrapper > .detail-item-list {

}
