
/*  wrapper
============================================================================= */

.info-wrapper {
  padding-right: 1rem;
}

.black-dot {
  position: absolute;
  top: 5px;
  right: .5rem;
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: #5b5b5c;
  box-shadow: inset 0 0 5px white;
}

/*  cpus
============================================================================= */

.info-cpus-wrapper {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  border: solid 1px #e2e2e2;
  border-left: solid 3px #e2e2e2;
  border-top-right-radius: .5rem;
  background-color: #fefefe;
  zoom: 1;
}

.clear-fix:after {
  content: "."; /*生成内容作为最后一个元素，至于content里面是什么没有影响*/
  display: block; /*使生成的元素以块级元素显示，占满剩余空间*/
  height: 0; /*避免生成的内容破坏原有空间的高度*/
  clear: both; /*闭合浮动*/
  visibility: hidden; /*使生成内容不可见，并允许可能生成内容盖住的内容进行点击和交互*/
}

.cpu-item-wrapper {
  position: relative;
  float: left;
  width: 6rem;
  margin: 1rem 1rem;
  overflow: hidden;
}

.cpu-item-wrapper > img {
  width: 100%;
  height: auto;
}

.cpu-item-wrapper > .cpu-item-text {
  text-align: center;
  font-size: .75rem;
}

/*  basic
============================================================================= */
.info-basic-wrapper {
  position: relative;
  margin: 1rem 0;
  border: solid 1px #e2e2e2;
  border-left: solid 3px #e2e2e2;
  border-top-right-radius: .5rem;
  background-color: #fefefe;
  padding: .5rem;
}

.info-basic-wrapper > p > span:first-child {
  margin-right: .5rem;
  font-weight: bold;
}

/*  memory
============================================================================= */
.info-memory-wrapper {
  margin: 1rem 0;
}

.memory-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.memory-text-wrapper > span {
  margin: 0 2rem;
}
