
/*  wrapper
============================================================================= */

.info-wrapper {

}

/*  cpus
============================================================================= */

.info-cpus-wrapper {
  width: 100%;
  zoom: 1;
}

.clear-fix:after {
  content: "."; /*生成内容作为最后一个元素，至于content里面是什么没有影响*/
  display: block; /*使生成的元素以块级元素显示，占满剩余空间*/
  height: 0; /*避免生成的内容破坏原有空间的高度*/
  clear: both; /*闭合浮动*/
  visibility: hidden; /*使生成内容不可见，并允许可能生成内容盖住的内容进行点击和交互*/
}

.cpu-item-wrapper {
  position: relative;
  float: left;
  width: 15%;
  margin: 1rem 1rem;
  overflow: hidden;
}

.cpu-item-wrapper > img {
  width: 100%;
  height: auto;
}

.cpu-item-wrapper > .cpu-item-text {
  text-align: center;
  font-size: .75rem;
}

/*  basic
============================================================================= */


/*  memory
============================================================================= */
